body {
	background-color: #b284be;
}

.container {
	width: 50%;
	border: 10px;
	border-color: black;
	padding: 30px;
	margin: 10% 20% 10% 20%;
	text-align: center;

}

#letters {
	color: black;
	font-family: Ariel;
	padding: 5px;
	cursor: pointer;

}